@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Producto</li>
</ol>

<div class="card">
    <h5 class="card-header">
        <i class="fas fa-boxes me-1"></i> Lista de Productos
    </h5>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal INICIO -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- ID -->
                <input id="txtid" type="hidden" value="0" />

                <form id="contenedor" class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="img_producto" height="200" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg" onchange="mostrarImagen(this)" />
                        </div>
                    </div>

                    <!-- Nombre -->
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtnombre" name="nombre" />
                        </div>
                        <!-- Descripción -->
                        <div class="mb-3">
                            <label class="form-label">Descripción</label>
                            <textarea class="form-control" id="txtdescripcion" style="height:125px;resize:none" name="descripcion"></textarea>
                        </div>
                    </div>

                    <!-- Marca -->
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Marca</label>
                            <select id="cbomarca" class="form-select"></select>
                        </div>
                        <!-- Categoría -->
                        <div class="mb-3">
                            <label class="form-label">Categoría</label>
                            <select id="cbocategoria" class="form-select"></select>
                        </div>
                    </div>

                    <!-- Precio -->
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Precio</label>
                            <input type="text" class="form-control" id="txtprecio" name="precio" autocomplete="off" />
                        </div>
                        <!-- Stock -->
                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" id="txtstock" name="stock" />
                        </div>
                        <!-- Activo -->
                        <div class="mb-3">
                            <label class="form-label">Activo</label>
                            <select id="cboactivo" class="form-select">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </form>

                <!-- Mensaje de Error -->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert" style="display: none;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal FIN -->

@section scripts {

    <script>

        var tabladata;
        var filaSeleccionada;
        function mostrarImagen(input) {
            if (input.files) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#img_producto").attr("src", e.target.result).width(200).height(200)
                }
                // 0 = un solo archivo
                reader.readAsDataURL(input.files[0])
        }
}
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    //Marca - conentedor
                    url: '@Url.Action("ListarMarca", "Mantenedor")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [

                    { "data": "Descripcion" },
                    {
                        "data": "Activo",
                        "render": function (valor) {
                            return valor ? '<span class="badge bg-success">SI</span>' : '<span class="badge bg-danger">No</span>';
                        }
                    },
                    {
                        "defaultContent": ' <button type="button" class="btn btn-primary btn-sm btn-editar"> <i class="fas fa-pen"></i></button>' +
                            ' <button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.0.7/i18n/es-MX.json"
                }
            });

            // ListarMarca
        jQuery.ajax({
        url: '@Url.Action("ListarMarca", "Mantenedor")',
        type: "GET",
        data: null,
        dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disable": "true" }).text("Seleccionar").appendTo("#cbomarca");

            $.each(data.data, function (index, item) {

                $("<option>").attr({ "value": item.IDMarca }).text(item.Descripcion).appendTo("#cbomarca");
            });
        },
        error: function (error) {
            console.log(error);
        }
    });

        // Listar Categorias
        jQuery.ajax({
    url: '@Url.Action("ListarCategorias", "Mantenedor")',
    type: "GET",
    data: null,
    dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            $("<option>").attr({ "value": "0", "disable": "true" }).text("Seleccionar").appendTo("#cbocategoria");

        $.each(data.data, function (index, item) {

            $("<option>").attr({ "value": item.IDCategoria }).text(item.Descripcion).appendTo("#cbocategoria");
        });
    },
    error: function (error) {
        console.log(error);
    }
});



        //Abrir modal
        function abrirModal(json) {
            $("#txtid").val(0);
            $("#img_producto").removeAttr("src");
            $("#fileProducto").val("");
            $("#txtnombre").val("");
            $("#txtdescripcion").val("");
            $("#cbomarca").val($("#cbomarca option:first").val());
            $("#cbocategoria").val($("#cbocategoria option:first").val());
            $("#txtprecio").val("");
            $("#txtstock").val("");
            $("#cboactivo").val(1);

            $("#mensajeError").hide();

            if (json != null) {

                $("#txtid").val(json.IDProducto);
                $("#txtnombre").val(json.Nombre);
                $("#txtdescripcion").val(json.Descripcion);
                $("#cbomarca").val(json.oMarca.IDMarca);
                $("#cbocategoria").val(json.oCategoria.IDCategoria);
                $("#txtprecio").val(json.Precio);
                $("#txtstock").val(json.Stock);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);
            }
            $("#FormModal").modal("show");
        }
        //Modal Editar Marca
        $('#tabla tbody').on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            //carga btn editar

            abrirModal(data)
        })

        //Modal Borrar
        $('#tabla tbody').on("click", '.btn-eliminar', function () {
            var marcaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(marcaSeleccionada).data();
            //carga btn eliminar
            swal({
                //configuraciones de alertas btn eliminar
                title: "¿Estas Seguro?",
                text: "¿Desea eliminar el Prodcuto?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },

            //POST
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarMarca", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IDMarca }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {


                            if (data.resultado) {
                                tabladata.row(marcaSeleccionada).remove().draw();
                            } else {
     swal("No se puede eliminar pe mano", data.mensaje, "error pe cause")
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
});
              });

            console.log(data);
})

     
    //guardar
        function Guardar() {
            
            var ImagenSeleccionada = $("#fileProducto")[0].files[0];

            var Producto = {
                IDProducto: $("#txtid").val(),
                Nombre: $("#txtnombre").val(),
                Descripcion: $("#txtdescripcion").val(),
                oMarca: {
                    IDMarca: $("#cbomarca option:selected").val(),
                    Descripcion: $("c#bomarca option:selected").text()
                },
                oCategoria: {
                    IDCategoria: $("#cbocategoria option:selected").val(),
                    Descripcion: $("#cbocategoria option:selected").text(),
                },
                PrecioTexto: $("txtprecio").val(),
                Precio: $("#txtprecio").val(),
                Stock: $("#txtstock").val(),
                Activo: $("#cboactivo").val() == 1 ? true : false,
 
            }
            var request = new FormData();
            request.append("objeto", JSON.stringify(Producto))
            request.append("arhcivoImagen",ImagenSeleccionada)

            //jQuery ajax
            jQuery.ajax({
                url: '@Url.Action("Guardarproducto", "Mantenedor")',
                type: "POST",
                data: request,
              
                contentType: false,
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");

                    //Producto nuevo
                    if (Producto.IDProducto == 0) {

                        if (data.IDGenerado != 0) {

                            Producto.IDProducto = data.IDGenerado;
                            tabladata.row.add(Producto).draw(false);
                            $("#FormModal").modal("hide")
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }

                    //Producto Editar
                    else {
                        if (data.operacionExitosa) {
                            tabladata.row(filaSeleccionada).data(Producto).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }

                },
                //error function
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajaxx");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show"), {
                        imageRisezeFactor: 2,
                        text: "Cargando.....",
                        size: 14
                    }
                }

                //liberia alertas https://lipis.github.io/bootstrap-sweetalert/
                ///Funcion de Borrar
                //Usuario installar en el Nuget -> sweetalret.boostsrap








                });
        }
    </script>
}